@import "globalStyle";
@import "variables";
@import "basics";

#add-movie {
  @extend %layout-content;
  .add-movie-area {
  width: 100%;

  .form {
    padding: 10%;
    margin-top: 10%;
  }

  .submit-btn {
    @extend %btn-style;
    background-color: $mergedColor;
    color: $white;
    border: 1px solid $mergedColor;
    padding: 7px 60px;
    cursor: pointer;
  }

  .heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }
}

}