%btn-style{
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgba(63, 63, 63, 0.3);
  &:hover{
    text-decoration: none;
    outline: 0;
  }
  &:focus{
    text-decoration: none;
    outline: 0;
  }
}
%layout-content{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}