@import "globalStyle";
@import "variables";

#layout{
  background: -webkit-linear-gradient(left, $mainColor, $secondaryColor);
  #layout-content{
    padding-left: 360px;
    width: 100%;
    overflow-x: hidden;
  }
  #layout-sidebar{
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 360px;
    input{
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 60%;
      background: $inputBackground;
      font-weight: bold;
      color: $inputColor;
      margin-top: 30%;
      margin-bottom: 3%;
      cursor: pointer;
    }
    img{
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 1s infinite  alternate;
    }
    p{
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
    }
    .sidebar-btn{
      @extend  %btn-style;
      background-color: white;
      color: $mergedColor;
      border: 1px solid white;
      padding: 7px 20px;
    }
  }
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
