@import "globalStyle";
@import "variables";
@import "basics";

#list-of-movies {
  @extend %layout-content;
  justify-content: start;
  padding: 4% 4% 0 0;
.image-grid-item{
  width: 100%;
  min-height: 150px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 12px;
  background: url("./../images/movie-background.jpg")
  center / cover/* position / size */
  no-repeat /* repeat */
  fixed /* attachment */;
  .image-grid-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.45);
  }
  .image-grid-content{
    display: flex;

    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      font-size: 18px;
      color: #fff;
      text-shadow: rgba(0,0,0,.8) 0 1px 0;
      z-index: 21;
      position: relative;
      top: 10%;

    }
  }

}

}