
.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10%;
  }
}
